{% extends 'admin/base.html.twig' %}

{% block title %}Room MANAGEMENT
{% endblock %}

{% block body %}
	<div class="container py-3">
		<h1 class="text-center text-black">ROOM MANAGEMENT</h1>
		{{ form_start(form) }}
		<div class="row">
			<div class="col-md-8">
				{{ form_row(form.category) }}
				{{ form_row(form.type) }}
				{{ form_row(form.slug) }}
				{{ form_row(form.description) }}
				{{ form_row(form.adult) }}
				{{ form_row(form.child) }}
				{{ form_row(form.images) }}
				{{ form_row(form.price) }}
				<input type="hidden" name="" id="widgets-counter" value="0">
			</div>

			<div class="col-md-4">
				<div style="text-align: center;">
					<img src="{{ asset('images/room/' ~ form.image.vars.value) }}" alt="Image de la chambre" id="imageAffichee" class="ronded mx-auto img-thumbnail" style="display: block; width: 100%; height: auto; max-height: 200px; object-fit: cover;">
				</div>
				<div style="margin-top: 20px;">
					{{ form_row(form.imageFile, {'id': 'imageFile'}) }}
					{{ form_errors(form.imageFile) }}
					<a class="btn btn-primary center" style="display: block; margin-top: 10px;" id="ajoutimage">
						<i class="fas fa-upload"></i>
						Ajouter une image qui donne vraiment envie pour votre couverture
					</a>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary w-100">
			<i class="fa-solid fa-check"></i>
			Confirm
		</button>
		<h2 class="text-center text-black">Images</h2>
		{% for image in room.images %}
			<div class="image-container my-5" data-image-id="{{ image.id }}" data-csrf-token="{{ csrf_token('delete' ~ image.id) }}" style="position: relative; display: inline-block; margin-right: 10px;">
				<img src="{{ asset('images/room/' ~ image.caption) }}" alt="Image de l'annonce {{ room.category.name }}" style="width: 200px; height: auto; object-fit: cover;">
				<button type="button" class="btn btn-danger delete-image" style="position: absolute; top: 0; right: 0; border-radius: 50%;">
					X
				</button>
			</div>
		{% endfor %}
		{{ form_end(form) }}
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('/admin/js/gestionUpload.js') }}" defer></script>
	<script src="/admin/js/ad.js"></script>

	<script>
		$(document).ready(function () {
$('.delete-image').click(function () {
var button = $(this);
var imageContainer = button.closest('.image-container');
var imageId = imageContainer.data('image-id');
var csrfToken = imageContainer.data('csrf-token');

Swal.fire({
title: 'Êtes-vous sûr de la supprimer ?',
text: "Vous ne pourrez pas revenir en arrière !",
icon: 'warning',
showCancelButton: true,
confirmButtonColor: '#3085d6',
cancelButtonColor: '#d33',
confirmButtonText: 'Oui, supprimer !',
cancelButtonText: 'Annuler'
}).then((result) => {
if (result.isConfirmed) {
$.ajax({
url: '/delete-image/' + imageId,
type: 'DELETE',
data: {
_token: csrfToken
},
success: function (response) {
if (response.success) {
Swal.fire('Supprimé !', 'Votre image a été supprimée.', 'success').then(() => {
imageContainer.remove();
});
} else {
Swal.fire('Erreur', 'Erreur lors de la suppression de l\'image : ' + response.message, 'error');
}
},
error: function (xhr, status, error) {
Swal.fire('Erreur', 'Erreur lors de la suppression de l\'image : ' + xhr.responseText, 'error');
}
});
}
});
});
});
	</script>
{% endblock %}
